<section class="countdown" aria-labelledby="countdown-title">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 col-md-12">
        <div class="countdown-wrapper">
          <h2 class="text-center p-4" id="countdown-title">Faltam:</h2>
          <div class="row justify-content-between">
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="single-counter text-center">
                <span class="counter">23</span>
                <p>dias</p>
              </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
              <div class="single-counter active text-center">
                <span class="counter">15</span>
                <p>horas</p>
              </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
              <div class="single-counter text-center">
                <span class="counter">46</span>
                <p>minutos</p>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="single-counter text-center">
                <span class="counter">20</span>
                <p>segundos</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
.countdown {
  background: var(--olive);
  margin: 30px 0;


  .countdown-wrapper {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    .single-counter {
      margin-bottom: 30px;
      padding: 44px 10px 44px 9px;

      span {
        color: var(--white);
        display: block;
        font-size: 36px;
        font-weight: 600;
        line-height: 1;
        margin-bottom: 12px;
        text-transform: uppercase;
      }
      p {
        color: var(--white);
        font-size: 18px;
        font-weight: 600;
        line-height: 1;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
      }
    }
  }
}
</style>

<script type="module">
  const finaleDate = new Date("October 14, 2023 16:00:00").getTime();

  const timer = () => {
    const now = new Date().getTime();

    let diff = finaleDate - now;
    // Showing the alert when the counter time finishes.
    if (diff < 0) {
      document.querySelector(".alert").style.display = "block";
      document.querySelector(".container").style.display = "none";
    }

    let days = Math.floor(diff / (1000 * 60 * 60 * 24));
    let hours = Math.floor((diff % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    let minutes = Math.floor((diff % (1000 * 60 * 60)) / (1000 * 60));
    let seconds = Math.floor((diff % (1000 * 60)) / 1000);
    // Adding the zeros.
    days <= 99 ? (days = `0${days}`) : days;
    days <= 9 ? (days = `00${days}`) : days;
    hours <= 9 ? (hours = `0${hours}`) : hours;
    minutes <= 9 ? (minutes = `0${minutes}`) : minutes;
    seconds <= 9 ? (seconds = `0${seconds}`) : seconds;

    document.querySelector("#days").textContent = days;
    document.querySelector("#hours").textContent = hours;
    document.querySelector("#minutes").textContent = minutes;
    document.querySelector("#seconds").textContent = seconds;
  };
  timer();
  // Calling the function every 1000 milliseconds.
  setInterval(timer, 1000);
</script>

<!-- counter , waypoint -->
<script src="/js/jquery.counterup.min.js" is:inline></script>
<script src="/js/waypoints.min.js" is:inline></script>
