---
import Layout from '../layouts/Page.astro';
import HeroInner from '../components/hero/hero-inner.astro';
import RegistryGift from 'components/registry-gift/registry-gift.astro';
import Moments from '../components/moments/moments.astro';
import Map from 'components/map/map.astro';

const { title } = Astro.props;

let images = [
  {
    id: 0,
    webp: '../images/gallery/webp/4.webp',
    jpg: '../images/gallery/jpg/4.jpg',
    shortAlt: 'Bruno beijando o rosto da Mari',
    longAlt: 'Bruno de camisa social de manga curta branca e Mariana de vestido branco de mangas Julieta, Bruno está com as mãos na cintura de Mari e beijando-a na bochecha e Mari está sorrindo levemente com os fechados e uma nas mãos no peito de Bruno. Ao fundo há grandes pedras e árvores.'
  },
  {
    id: 1,
    webp: '../images/gallery/webp/12.webp',
    jpg: '../images/gallery/jpg/12.jpg',
    shortAlt: 'Bruno e Mariana abraçados de frente um ao outro',
    longAlt: 'Estão abraçados um de frente pro outro e ambos olhando para o lado, a foto foi tirada por trás da Mari e só vai até a altura do peito.'
  },
  {
    id: 2,
    webp: '../images/gallery/webp/13.webp',
    jpg: '../images/gallery/jpg/13.jpg',
    shortAlt: 'Bruno e Mari caminhando num gramado',
    longAlt: 'Estão olhando para o lado, eles estão de lado para o fotógrafo, ao fundo há grandes pedras, árvores e bromélias.'
  },
  {
    id: 3,
    webp: '../images/gallery/webp/14.webp',
    jpg: '../images/gallery/jpg/14.jpg',
    shortAlt: 'Bruno e Mari de mãos dadas',
    longAlt: 'Um de frente pro outro e ambos se olhando e sorrindo, eles estão de lado para o fotógrafo, ao fundo há grandes pedras, árvores e bromélias.'
  },
  {
    id: 4,
    webp: '../images/gallery/webp/17.webp',
    jpg: '../images/gallery/jpg/17.jpg',
    shortAlt: 'Mari com a mão na cintura e nos ombros de Bruno.',
    longAlt: 'Mari está na frente de Bruno um pouco mais para a direita, de frente pra foto, com uma mão no ombro de Bruno e a outra na mão dele em sua cintura, ela olha e sorri para a foto, o fundo está desfocado.'
  },
  {
    id: 5,
    webp: '../images/gallery/webp/20.webp',
    jpg: '../images/gallery/jpg/20.jpg',
    shortAlt: 'Bruno está com uma das mãos na cintura de Mari e Mari com as duas mãos no ombro de Bruno',
    longAlt: 'Eles se olham e sorriem. Há um gramado com árvores no fundo que está desfocado.'
  },
  {
    id: 6,
    webp: '../images/gallery/webp/23.webp',
    jpg: '../images/gallery/jpg/23.jpg',
    shortAlt: 'Mari sorrindo',
    longAlt: 'Bruno e Mari se abraçam e a foto só mostra o sorriso de Mari e sua mão com uma aliança dourada e um anel com pedra brilhante no ombro de Bruno. '
  },
  {
    id: 7,
    webp: '../images/gallery/webp/29.webp',
    jpg: '../images/gallery/jpg/29.jpg',
    shortAlt: 'Bruno está em pé, de lado e Mariana esta em pé apoiada com uma das mãos e rosto nas costas de Bruno',
    longAlt: 'Estão de mãos dadas em um gramados no meio de grandes pedras e árvores ao fundo.'
  },
  {
    id: 8,
    webp: '../images/gallery/webp/49.webp',
    jpg: '../images/gallery/jpg/49.jpg',
    shortAlt: 'Mari com o rosto encostado em Bruno',
    longAlt: 'Bruno veste blusa jeans fechada e Mariana usa camisa de crochê branca. Bruno está de frente com olhos fechados, Mari está com o rosto encostado no rosto de Bruno abraçando-o por trás. Na frente de ambos há flores brancas e rosas desfocadas.'
  },
  {
    id: 9,
    webp: '../images/gallery/webp/53.webp',
    jpg: '../images/gallery/jpg/53.jpg',
    shortAlt: 'Bruno e Mari de costas com o rosto virado para o lado olhando para Mari, ela faz carinho no rosto de Bruno',
    longAlt: 'de lado e sorri olhando para Bruno. Há várias plantas ao redor deles.'
  },
  {
    id: 10,
    webp: '../images/gallery/webp/57.webp',
    jpg: '../images/gallery/jpg/57.jpg',
    shortAlt: 'Bruno e Mari sorrindo',
    longAlt: 'ambos estão andando no meio de bancas de cultivo de plantas.'
  },
  {
    id: 11,
    webp: '../images/gallery/webp/60.webp',
    jpg: '../images/gallery/jpg/60.jpg',
    shortAlt: 'Bruno está atras de Mari com uma das mãos no bolso.',
    longAlt: 'Mari está de costas para Bruno olhando para ele de lado com uma das mãos em seu rosto. Ambos sorriem. Há várias plantas ao redor deles.'
  },
  {
    id: 12,
    webp: '../images/gallery/webp/62.webp',
    jpg: '../images/gallery/jpg/62.jpg',
    shortAlt: 'Bruno e Mari sentados no sofá',
    longAlt: 'Bruno veste blusa jeans fechada, calça bege, e tênis branco, está sentado no canto do sofá com uma das mãos no bolso. Mariana usa camisa de crochê branca com calça jeans escuro e sandália de salto grosso branca, está sentada no braço do sofá, atrás de Bruno, com a mão direita no ombro de Bruno e a esquerda na própria perna. Ambos estão sérios olhando para o lado. O sofá é de sisal caramelo com almofadas verdes, atrás do sofá há muitas folhas grossas, grandes e escuras formando uma parede.'
  },
  {
    id: 13,
    webp: '../images/gallery/webp/64.webp',
    jpg: '../images/gallery/jpg/64.jpg',
    shortAlt: 'Mari sentada atrás de Bruno',
    longAlt: 'Mais alta que ele, ela dá um beijo na cabeça de Bruno, eles dão as mãos no peito de Bruno, na mão de Bruno há uma tatuagem escrito LOVE (uma letra em cada dedo), os dois estão de olhos fechados.'
  },
  {
    id: 14,
    webp: '../images/gallery/webp/68.webp',
    jpg: '../images/gallery/jpg/68.jpg',
    shortAlt: 'Bruno atrás da Mari beijando seu ombro',
    longAlt: 'Mari está de costas para Bruno com os olhos fechados sorrindo.'
  },
  {
    id: 15,
    webp: '../images/gallery/webp/72.webp',
    jpg: '../images/gallery/jpg/72.jpg',
    shortAlt: 'Bruno e Mari abraçados',
    longAlt: 'um de frente pro outro sorrindo. Ao fundo há um lago com peixes laranja e árvores.'
  },
  {
    id: 16,
    webp: '../images/gallery/webp/78.webp',
    jpg: '../images/gallery/jpg/78.jpg',
    shortAlt: 'Bruno e Mari caminhando em uma calçada',
    longAlt: 'Bruno veste camisa preta, calça bege e tênis branco. Mariana veste vestido azul marinho com flores brancas e beges na altura do joelho, sandália fechada caramelo e chapéu de barbante. Os dois estão caminhando e se olhando em uma calçada que tem uma cerca de planta lateral, ao fundo está o Hotel Quitandinha, que tem uma grande estrutura branca e marrom de estilo colonial. Os raios de sol estão brilhando à frente do casal.'
  },
  {
    id: 17,
    webp: '../images/gallery/webp/81.webp',
    jpg: '../images/gallery/jpg/81.jpg',
    shortAlt: 'Mari de costas para a foto e Bruno com uma das mãos em sua cintura.',
    longAlt: 'Os dois estão na frente de uma cerca de planta, do outro lado da cerca há uma grande lago e o Hotel Quitandinha. Os raios de sol estão brilhando à frente do casal.'
  },
  {
    id: 18,
    webp: '../images/gallery/webp/85.webp',
    jpg: '../images/gallery/jpg/85.jpg',
    shortAlt: 'Mari com um dos pés levantados e Bruno abraçando-a',
    longAlt: 'Mariana de vestido florido e chapéu branco, com um dos pés levantados e Bruno de camisa preta e calça bege, estão abraçados, um de frente pro outro se olhando e sorrindo, estão num chão de cimento reto, à esquerda há uma cerca de folhas verdes e à direita um gramado mais alto com árvores grandes sem folhas.'
  },
  {
    id: 19,
    webp: '../images/gallery/webp/87.webp',
    jpg: '../images/gallery/jpg/87.jpg',
    shortAlt: 'Mari e Bruno de costas olhando para a foto',
    longAlt: 'andando em um chão de cimento reto, à esquerda há uma cerca de folhas verdes e à direita um gramado mais alto com árvores grandes sem folhas.'
  },
  {
    id: 20,
    webp: '../images/gallery/webp/92.webp',
    jpg: '../images/gallery/jpg/92.jpg',
    shortAlt: 'Mari e Bruno abraçados de frente',
    longAlt: 'os dois estão de olhos fechado e Bruno beija a testa de Mariana. Ao fundo há uma árvore grande com galhos secos.'
  },
]
---

<Layout title="Mariana e Bruno - Galeria de Fotos">
  <HeroInner title="Galeria de fotos" />

  <section class="our-history" id="our-history" aria-labelledby="our-history-title">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-xl-12">
          <div class="wrapper">
            <h2 class="section-tittle text-center" id="our-history-title">Galeria de fotos</h2>
            <p>
              É com grande alegria que compartilhamos com vocês os momentos mágicos e inesquecíveis que antecedem o nosso grande dia. 
              Convidamos vocês a embarcarem conosco em uma jornada repleta de amor e cumplicidade, através de uma encantadora galeria de fotos do nosso <span lang="en">Pré-Wedding</span>.
            </p>
          </div>
        </div>
      </div>

      <div class="row d-flex justify-content-center">
        {
          images.map(image => (
            <article class="our-history__item col-md-4">
              <picture>
                <source srcset={image.webp} type="image/webp">
                <source srcset={image.jpg} type="image/jpeg">
                <img src={image.jpg} class="img-fluid" alt={image.shortAlt} aria-describedby={`desc-${image.id}`} loading="lazy">
              </picture>
              <div class="visually-hidden" id={`desc-${image.id}`}>
                <p>{image.longAlt}</p>
              </div>
            </article>
          ))
        }
      </div>
    </div>    
  </section>
  <RegistryGift />
  <Moments/>
  <Map />
</Layout>

<style lang="scss">
  .our-history {
    padding: 120px 0 0 0;

    &__item {
      margin-bottom: 25px;
    }

    @media(max-width: 768px) {
      padding: 50px 0;
    }

    @media(max-width: 480px) {
      padding: 20px 0;
    }
  }
</style>
