---
import Layout from '../layouts/Page.astro';
import HeroInner from '../components/hero-inner.astro';
import Heart from '../components/heart.astro';
import Icon from 'astro-icon';
import Attractions from '../components/attractions.astro';
import Map from '../components/map.astro';
import Services from 'components/services.astro';
import Entertainment from 'components/entertainment.astro';

let downtowns = [
	{
		name: 'Kastel Vila Bavaria',
		link: 'https://bit.ly/vila-bavaria',
   		url:  '../images/acomodacoes/hotel-villa-bavaria.webp',
		location: 'Centro'
	},
	{
		name: 'Pousada Palácio de Cristal',
		link: 'https://bit.ly/3KeF9Fk',
    	url:  '../images/acomodacoes/pousada-palacio-cristal.webp',
		location: 'Centro'
	},
	{
		name: 'Pousada Dom Petrópolis',
		link: 'http://www.pousadadompetropolis.com.br/',
   		 url: '../images/acomodacoes/pousada-dom-petropolis.webp',
		location: 'Centro'
	},
	{
		name: 'Pousada Magister',
		link: 'http://petropolis.pousadamagister.com.br/',
    	url: '../images/acomodacoes/magister.webp',
		location: 'Centro'
	},
	{
		name: 'Hotel Casablanca Palace',
		link: 'http://www.casablancahotel.com.br/casablancapalace/',
		url: '../images/acomodacoes/hotel-casablanca-palace.webp',
		location: 'Centro'
	},
	{
		name: 'Hotel Casablanca Center',
		link: 'https://www.booking.com/hotel/br/casablanca-center.pt-br.html',
		url: '../images/acomodacoes/hotel-casablanca-center.webp',
		location: 'Centro',
	},
	{
		name: 'Casablanca Koeler',
		link: 'https://www.booking.com/hotel/br/casablanca-koeler.pt-br.html',
   		url: '../images/acomodacoes/casablanca-koeler.webp',
		location: 'Centro',
	},
	{
		name: 'Pousada Catedral Petrópolis',
		link: 'https://www.pousadacatedralpetropolis.com.br/',
		url: '../images/acomodacoes/pousada-catedral-petropolis.webp',
		location: 'Centro',
	},
	{
		name: 'Hotel Reggia Catarina',
		link: 'https://www.reggiacatarina.com.br/',
		url: '../images/acomodacoes/hotel-reggia-catarina.webp',
		location: 'Centro',
	},
	{
		name: 'Casablanca Imperial',
		link: 'https://bit.ly/casablanca-imperial',
		url: '../images/acomodacoes/casablaca-imperial.webp',
		location: 'Centro',
	},
	{
		name: 'HMG Suítes Inn Centro Histórico',
		link: 'https://www.booking.com/hotel/br/ace-suites-business.pt-br.html',
		url: '../images/acomodacoes/hmg-suites-inn-centro-historico.webp',
		location: 'Centro',
	},
	{
		name: 'York Hotel',
		link: 'https://www.hotelyork.com.br/',
		url: '../images/acomodacoes/york-hotel.webp',
		location: 'Centro',
	},
	{
		name: 'Kastel Grão Pará',
		link: 'https://www.hotelgraoparapetropolis.com.br/default.asp',
		url: '../images/acomodacoes/hotel-grao-para.webp',
		location: 'Centro',
	},
	{
		name: 'Hotel Orleans',
		link: 'https://hotelorleans.com.br/',
		url: '../images/acomodacoes/hotel-orleans.webp',
		location: 'Centro'
	},
	{
		name: 'Princesa Isabel Pousada',
		link: 'https://www.pousadaprincesaisabel.com.br/',
		url: '../images/acomodacoes/princesa-isabel-pousada.webp',
		location: 'Centro'
	},
	{
		name: 'Pousada Imperial Koeler',
		link: 'https://www.pousadaimperialkoeler.com.br/',
		url: '../images/acomodacoes/pousada-imperial-koeler.webp',
		location: 'Centro'
	},
  	{
		name: 'Flat Inteiro',
		link: 'https://bit.ly/flat-inteiro',
		url:  '../images/acomodacoes/flat-inteiro.webp',
		location: 'Centro',
	},
	{
		name: 'Loft Centro',
		link: 'http://bit.ly/3GsnTvj',
		url:  '../images/acomodacoes/loft-centro.webp',
		location: 'Centro',
	},
	{
		name: 'Ape Petro',
		link: 'https://abnb.me/aJTepHeqOyb',
		url:  '../images/acomodacoes/espaco-inteiro-ape-petro.webp',
		location: 'Centro',
	},
	{
		name: 'Studio Museu',
		link: 'https://abnb.me/ZCqf07lqOyb',
		url: '../images/acomodacoes/studio-museu.webp',
		location: 'Centro',
	},
	{
		name: 'Apartamento no coração de Petrópolis',
		link: 'https://abnb.me/PeOeYbsqOyb',
		url: '../images/acomodacoes/ap-petro.webp',
		location: 'Centro',
	},
];

let nextEvents = [
	{
		name: 'Atelier Molinaro',
		link: 'https://molinarohotel.com.br/',
    	url:  '../images/acomodacoes/atelie-molinario.webp',
		location: 'Próximo ao evento',
    	
	},
	{
		name: 'Cantinho da Paz',
		link: 'https://abnb.me/domQqwuoOyb',
		url:  '../images/acomodacoes/cantinho-paz.webp',
		location: 'Próximo ao evento',
	},
	{
		name: 'Cantinho da Pedra',
		link: 'https://abnb.me/HoVne5DoOyb',
		url:  '../images/acomodacoes/cantinho-pedra.webp',
		location: 'Próximo ao evento',
	},
	{
		name: 'Natureza no Vale dos Esquilos',
		link: 'https://abnb.me/Wopnu0PoOyb',
		url: '../images/acomodacoes/natureza.webp',
		location: 'Próximo ao evento',
	},
	{
		name: 'Loft Paris',
		link: 'https://abnb.me/VXqqopWoOyb',
		url:  '../images/acomodacoes/loft-paris.webp',
		location: 'Próximo ao evento',
	},
	{
		name: 'Casa no centro',
		link: 'http://bit.ly/3Um7eiQ',
		url:  '../images/acomodacoes/casa-centro.webp',
		location: 'Próximo ao evento',
	}
];

const airbnbs = [
	{
		name: 'Flat Inteiro',
		link: 'https://bit.ly/flat-inteiro',
		location: 'Centro',
	},
	{
		name: 'Loft Centro',
		link: 'http://bit.ly/3GsnTvj',
		location: 'Centro',
	},
	{
		name: 'Cantinho da Paz',
		link: 'https://abnb.me/domQqwuoOyb',
		location: 'Próximo ao evento',
	},
	{
		name: 'Cantinho da Pedra',
		link: 'https://abnb.me/HoVne5DoOyb',
		location: 'Próximo ao evento',
	},
	{
		name: 'Natureza no Vale dos Esquilos',
		link: 'https://abnb.me/Wopnu0PoOyb',
		location: 'Próximo ao evento',
	},
	{
		name: 'Loft Paris',
		link: 'https://abnb.me/VXqqopWoOyb',
		location: 'Próximo ao evento',
	},
	{
		name: 'Casa no centro',
		link: 'http://bit.ly/3Um7eiQ',
		location: 'Próximo ao evento',
	},
	{
		name: 'Ape Petro',
		link: 'https://abnb.me/aJTepHeqOyb',
		location: 'Centro',
	},
	{
		name: 'Studio Museu',
		link: 'https://abnb.me/ZCqf07lqOyb',
		location: 'Centro',
	},
	{
		name: 'Apartamento no coração de Petrópolis',
		link: 'https://abnb.me/PeOeYbsqOyb',
		location: 'Centro',
	},
];

const { title } = Astro.props;
---

<Layout title="Mariana e Bruno - Indicações">
	<HeroInner
		title="Indicações de Hospedagens"
		content="Estamos muito felizes com sua presença, como sinal de agradecimento selecionamos algumas hospedagens."
	/>

  <div id="content">
    <section class="pt-80" id="accommodation" aria-labelledby="accommodation-title">
      <div class="container">
        <h2 class="section-title text-center mb-10">
          Hotéis e Pousadas <Heart/>
        </h2>
        
        <div class="mb-10">
          <p>Para aqueles que estarão conosco no casamento, reservamos algumas informações importantes.</p>
          <p>
            O <strong>distrito de Itaipava</strong> é distante do local da cerimônia. Mas não se preocupem! <br/>
            Escolhemos opções encantadoras para aproveitar a beleza de Petrópolis e desfrutar de uma estadia aconchegante.
          </p>
          <p>Preparem-sem, mal podemos esperar para recebê-los! Listamos abaixo as acomodações baseadas em proximidade.</p>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <h3 class="display-8 fw-7 section-title mb-10">Próximos a cerimônia</h3>
        <div class="row d-flex justify-content-center">
          {
            nextEvents.map(nextEvent => (
              <div class="col-lg-4">
                <article class="card">
                  <img src={nextEvent.url} class="img-fluid" loading="lazy" alt="">
                  <div class="card-body">
					<a href={nextEvent.link} target="_blank" rel="noopener noreferrer">
                    	<h3 class="card-title">{nextEvent.name}</h3>
					</a>
                    <p class="card-text">Distância: <strong>{nextEvent.location}</strong></p>
                  </div>
                </article>
              </div>
            ))
          }
        </div>

        <h3 class="display-8 section-title fw-7 mb-10">Próximos ao centro</h3>
        <div class="row d-flex justify-content-center">
          {
            downtowns.map(downtown => (
              <div class="col-lg-4">
                <article class="card">
                  <img src={downtown.url} class="img-fluid" loading="lazy" alt="">
                  <div class="card-body">
					<a href={downtown.link} target="_blank" rel="noopener noreferrer">
                    	<h3 class="card-title">{downtown.name}</h3>
					</a>
                    <p class="card-text">Distância: <strong>{downtown.location}</strong></p>
                  </div>
                </article>
              </div>
            ))
          }
        </div>
      </div>
    </section>

    <Services />
    <Entertainment />
    <Map />
  </div>
</Layout>

<style lang="scss">
	.services {
		background: var(--standard);
	}
	.services,
	.entertainment {
		padding: 100px 0;
	}

	.section-title {
		color: var(--olive);
		font-weight: 700;
		margin-bottom: 10px;
	}

  .card {
    margin-bottom: 20px;
	box-shadow: 0 10px 30px 0 rgba(153, 153, 153, 0.1);

    &-title {
      font-size: 20px;
      font-weight: 700;
	  color: var(--olive);
    }

	&-body {
		padding: 35px 30px 40px 30px;
	}
  }
</style>
