---
import Layout from '../layouts/Page.astro';
import HeroInner from '../components/hero-inner.astro';
import Heart from '../components/heart.astro';

const { title } = Astro.props;
---

<Layout title="Mariana e Bruno - Indicações">
	<HeroInner
		title="Indicações de Hospedagens"
		content="Estamos muito felizes com sua presença, como sinal de agradecimento selecionamos algumas hospedagens."
	/>

  <div id="content">
    <section class="pt-80" id="accommodation" aria-labelledby="accommodation-title">
      <div class="container">
        <h2 class="section-title text-center mb-10">
          Hotéis e Pousadas <Heart/>
        </h2>
        
        <div class="mb-10">
          <p>Para aqueles que estarão conosco no casamento, reservamos algumas informações importantes.</p>
          <p>
            O <strong>distrito de Itaipava</strong> é distante do local da cerimônia. Mas não se preocupem! <br/>
            Escolhemos opções encantadoras para aproveitar a beleza de Petrópolis e desfrutar de uma estadia aconchegante.
          </p>
          <p>Preparem-sem, mal podemos esperar para recebê-los! Listamos abaixo as acomodações baseadas em proximidade.</p>
        </div>
      </div>
    </section>

    <section aria-labelledby="next-wedding-title">
      <div class="container">
        <h3 class="display-8 fw-7 section-title mb-10" id="next-wedding-title">Próximos a cerimônia</h3>
        <div class="row d-flex justify-content-center">
          {
            nextEvents.map(nextEvent => (
              <div class="col-lg-4">
                <article class="card">
                  <img src={nextEvent.url} class="img-fluid" loading="lazy" alt="">
                  <div class="card-body">
					<a href={nextEvent.link} target="_blank" rel="noopener noreferrer">
                    	<h3 class="card-title">{nextEvent.name}</h3>
					</a>
                    <p class="card-text">Distância: <strong>{nextEvent.location}</strong></p>
                  </div>
                </article>
              </div>
            ))
          }
        </div>

        <h3 class="display-8 section-title fw-7 mb-10">Próximos ao centro</h3>
        <div class="row d-flex justify-content-center">
          {
            downtowns.map(downtown => (
              <div class="col-lg-4">
                <article class="card">
                  <img src={downtown.url} class="img-fluid" loading="lazy" alt="">
                  <div class="card-body">
					<a href={downtown.link} target="_blank" rel="noopener noreferrer">
                    	<h3 class="card-title">{downtown.name}</h3>
					</a>
                    <p class="card-text">Distância: <strong>{downtown.location}</strong></p>
                  </div>
                </article>
              </div>
            ))
          }
        </div>
      </div>
    </section>

    <Services />
    <Entertainment />
    <Map />
  </div>
</Layout>

<style lang="scss">
	.services {
		background: var(--standard);
	}
	.services,
	.entertainment {
		padding: 100px 0;
	}

	.section-title {
		color: var(--olive);
		font-weight: 700;
		margin-bottom: 10px;
	}

  .card {
    margin-bottom: 20px;
	box-shadow: 0 10px 30px 0 rgba(153, 153, 153, 0.1);

    &-title {
      font-size: 20px;
      font-weight: 700;
	  color: var(--olive);
    }

	&-body {
		padding: 35px 30px 40px 30px;
	}
  }
</style>
